# --- Global / OS Files ---
.DS_Store

# --- Backend (Python/Flask - PhotoGroupApp) ---
WmoryBackend/venv/
WmoryBackend/__pycache__/
WmoryBackend/*.pyc
WmoryBackend/.env
WmoryBackend/uploads/

# --- Frontend (React Native - PhotoAppFrontend) ---
WmoryMobile/node_modules/
WmoryMobile/.expo/
WmoryMobile/dist/
WmoryMobile/web-build/
WmoryMobile/npm-debug.log
WmoryMobile/yarn-error.log
WmoryMobile/config.js